@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
  body{
    overflow-x: hidden;
	
  }
}
*{
	scroll-behavior: smooth;
}
.navfont{
	font-family: 'Tilt Neon', sans-serif; 
	font-family: 'Rubik', sans-serif;
  }
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
  line-height: 1.5;
	font-family: 'Poppins', sans-serif;
    padding-top: 41px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ebb70e;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 35px;
	width: 35px;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
  color:white;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #e78a09;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
.footer{
	background-color: #24262b;
  line-height: 1.5;
	font-family: 'Poppins', sans-serif;
    padding-top: 41px;
	padding-bottom: 42px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
.footer{
	background-color: #24262b;
  line-height: 1.5;
	font-family: 'Poppins', sans-serif;
    padding-top: 41px;
	padding-bottom: 42px;
}
}

.slider-container {
	width: 720px;
	height: 400px;
	overflow: hidden;
}

.slider {
	display: flex;
	animation: slide 20s infinite;
}

.slider img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@keyframes slide {
	0% { transform: translateX(0%); }
	20% { transform: translateX(-100%); }
	40% { transform: translateX(-200%); }
	60% { transform: translateX(-300%); }
	80% { transform: translateX(-400%); }
	100% { transform: translateX(0%); }
}
@media(max-width: 767px){
	.slider-container {
		width: 420px;
		height: 400px;
		overflow: hidden;
	}
  }
  @media(max-width: 422px){
	.slider-container {
		width: 320px;
		height: 300px;
		overflow: hidden;
	}
  }
  @media(max-width: 290px){
	.slider-container {
		width: 220px;
		height: 200px;
		overflow: hidden;
	}
  }
  .home{
    padding: 0;
}

.home .slide{
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.home .slide .content{
    width: 80rem;
    text-align: center;
}

.home .slide .content h3{
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--white);
    line-height: 1.1;
    padding: 2rem 0;
}

.swiper-button-next,
.swiper-button-prev{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: var(--white);
    color: var(--black);
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--primary);
    color: var(--white);
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}
.sliders {
	position: relative;
	width: 100%;
	overflow: hidden;
  }
  
  .slides {
	display: flex;
	width: 100%;
	transition: transform 0.3s ease-in-out;
  }
  
  .slides img {
	width: 100%;
	height: auto;
  }
  
  .controller {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
  }
  
  .prev, .next {
	background-color: #ccc;
	border: none;
	color: #fff;
	font-size: 18px;
	padding: 10px 15px;
	margin: 0 5px;
	cursor: pointer;
  }
  
  .prev:hover, .next:hover {
	background-color: #555;
  }
  .homesw{
	width:100vw;
	height: 85vh;
	object-fit: cover;
  }
	.button {
		position: absolute;
		bottom: 200px;
		left: 50%;
		transform: translateX(-50%);
		color: #fff;
		padding: 10px 20px;
		border: none;
		border-radius: 4px;
		text-align: center;
	  }
	 
	  
	  @media(max-width: 767px){
		.button {
			position: absolute;
			bottom: 28px;
			left: 50%;
			transform: translateX(-50%);
			color: #fff;
			padding: 10px 20px;
			border: none;
			border-radius: 4px;
			text-align: center;
		  }
		  .homesw{
			width:auto;
			height: auto;
			object-fit: cover;
		  }
		}
		@media(max-width: 500px){
			.button {
				position: absolute;
				bottom: 28px;
				left: 50%;
				transform: translateX(-50%);
				color: #fff;
				padding: 10px 20px;
				border: none;
				border-radius: 4px;
				text-align: center;
			  }
			  .homesw{
				width:100vw;
				height: 50vh;
				object-fit: cover;
			  }
		}
			@media(min-width: 1196px){
				.btnavl{
					left: 92px;
				}
			}
			@media(max-width: 555px){
				.dark{
					margin-top: 50px;
				}
				.nav2{
					padding: 35px;
				}
				.Navbar{
					top: 70px;
				}
			}
			@media(max-width: 405px){
				.dark{
					margin-top: 40px;
					justify-content: center;
					align-items: center;
					
				}
				.nav2{
					padding: 45px;

				}
				.Navbar{
					top: 80px;
					
				}
				.sico{
					width: 90vw;;
					justify-content: center;
					
				}
			}
			